#include "..\\Headers\\resource.h"

#ifdef _WIN32
LANGUAGE 0x0412, 0x01
#pragma code_page(65001)
#endif

IDB_NORMAL		BITMAP		DISCARDABLE		"Normal.bmp"
IDB_PRESS		BITMAP		DISCARDABLE		"Press.bmp"
IDB_PRESSING	BITMAP		DISCARDABLE		"Pressing.bmp"
IDB_BLOCK		BITMAP		DISCARDABLE		"Block.bmp"
IDB_HOT			BITMAP		DISCARDABLE		"Hot.bmp"

IDB_EMPTY		BITMAP		DISCARDABLE		"Empty.bmp"
IDB_MINE		BITMAP		DISCARDABLE		"Mine.bmp"
IDB_ONE			BITMAP		DISCARDABLE		"One.bmp"
IDB_TWO			BITMAP		DISCARDABLE		"Two.bmp"
IDB_THREE		BITMAP		DISCARDABLE		"Three.bmp"
IDB_FOUR		BITMAP		DISCARDABLE		"Four.bmp"
IDB_FIVE		BITMAP		DISCARDABLE		"Five.bmp"
IDB_SIX			BITMAP		DISCARDABLE		"Six.bmp"
IDB_SEVEN		BITMAP		DISCARDABLE		"Seven.bmp"
IDB_EIGHT		BITMAP		DISCARDABLE		"Eight.bmp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION	VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH, VERSION_BUILD
PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH, VERSION_BUILD
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041204B0"
		BEGIN
			VALUE "ProductName", "Minesweeper.exe"
			VALUE "LegalCopyright", "stdsic"
			VALUE "FileVersion", FULLVERSION
			VALUE "ProductVersion", FULLVERSION
			VALUE "FileDescription", "지뢰찾기"
			VALUE "OriginalFileName", "Minesweeper.exe"
			VALUE "InternalName", "Minesweeper"
			VALUE "CompanyName", "stdsic"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0412, 1200
	END
END	
